body {
  margin: 0;
  padding: 0;
}

#background {
  position: absolute;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(to top right, darkorange, blueviolet);
}

.parallax-container::-webkit-scrollbar {
  display: none;
}
