.page {
  /*margin: 0;*/
  padding: 2rem;

  width: 100%;
  height: 100%;

  background: linear-gradient(180deg, #0f172a 0%, #071029 100%);
  box-sizing: border-box;

  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #e6eef8;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.page > .card {
  padding-left: 20%;
  padding-right: 20%;
}

.card {
  /*margin: 0 2rem 0 2rem;*/
  padding: 3rem;

  width: fit-content;
  /*min-width: 30vw;*/
  /*max-width: 70vw;*/

  background: linear-gradient(180deg, rgba(255,255,255,0.03), rgba(255,255,255,0.02));
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(2,6,23,0.6);
  border: 1px solid rgba(255,255,255,0.04);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card > .title {
  margin: 0;

  font-size: 2rem;
  font-weight: 700;
}

.card > .subtitle {
  margin: 0;

  /*font-size: 2rem;*/
  /*font-weight: 700;*/
}

.card > .social-container {
  margin-top: 2rem;

  height: 4rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.social-button {
  height: 100%;
}

.social-button > * {
  height: 100%;
}

/*page {*/
/*  display: flex,*/
/*  flexDirection: column*/
/*  alignItems: center,*/
/*  justifyContent: 'start',*/
/*  padding: '2rem',*/
/*  minHeight: '100vh',*/
/*  boxSizing: 'border-box',*/
/*  background: 'linear-gradient(180deg, #0f172a 0%, #071029 100%)',*/
/*  fontFamily: 'Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial',*/
/*  color: '#e6eef8',*/
/*}*/

/*header {*/
/*  position: 'absolute',*/
/*  top: 18,*/
/*  left: '50%',*/
/*  transform: 'translateX(-50%)',*/
/*  color: '#eaf4ff',*/
/*  fontSize: 18,*/
/*  fontWeight: 700,*/
/*  background: 'rgba(255,255,255,0.02)',*/
/*  padding: '8px 16px',*/
/*  borderRadius: 10,*/
/*  border: '1px solid rgba(255,255,255,0.03)'*/
/*}*/

/*under_construction {*/
/*  maxWidth: 780,*/
/*  width: '100%',*/
/*  textAlign: 'center' as const,*/
/*  paddingBottom: '5rem',*/
/*},*/


/*emoji: {*/
/*  fontSize: 56,*/
/*  marginBottom: 12,*/
/*  display: 'block'*/
/*},*/

/*subtitle: {*/
/*  marginTop: 12,*/
/*  marginBottom: 18,*/
/*  color: '#bcd0ee',*/
/*  fontSize: 16*/
/*},*/
/*discordIcon: {*/
/*  width: 18,*/
/*  height: 18,*/
/*  verticalAlign: 'middle',*/
/*  marginRight: 8,*/
/*  display: 'inline-block' as const*/
/*},*/
/*info: {*/
/*  marginTop: 8,*/
/*  color: '#9fb0da',*/
/*  fontSize: 13*/
/*},*/
/*link: {*/
/*  display: 'inline-block',*/
/*  marginTop: 18,*/
/*  padding: '10px 16px',*/
/*  borderRadius: 8,*/
/*  background: '#0ea5a1',*/
/*  color: '#052127',*/
/*  fontWeight: 600,*/
/*  textDecoration: 'none'*/
/*}*/